include layout.jade

block header
	nav.clearfix
		.sm-col
			a.btn.py2(style="text-decoration:none" href='/')
				h3(style="opacity:0.5") sahil
block content
	div.sm-col.sm-col-6.md-col-4.px2
		img(class="fit" src="/images/watercolor.png")
	div.sm-col.sm-col-6.md-col-6.overflow-scroll
		h3.descript Hey there! My name is Sahil (like I 'saw' a 'hill'). I'm a product designer studying user experience design and business analytics at Cornell University. I love to read, listen, and think about the problems around me (and figuring how design can solve them).
		
		h3.descript 
			| This past summer, I discovered mobile insights for accountants at 
			a(href="http://www.intuit.com/" target="blank") Intuit
			|  using journey maps, use case flows, product thinking, and lo-fi/hi-fi prototypes. Previously, I did a 
			a(href="https://medium.com/hh-design/what-24-uber-drivers-in-east-asia-need-right-now-c292795c343#.m5656e3xe") side project
			|  with Uber in Southeast Asia that received attention from Uber's Head of International Research, Lead Experience Designers, and the Southeast Asia Design Team.

		h3.descript 
			| Hit me up via 
			a(href="mailto:sk938@cornell.edu") email
			|  if you want to collaborate or just say hi! Or check out my 
			a(href="resume.pdf") resume
			|  and/or 
			a(href="work") portfolio
			| .
