include layout.jade
include portflayout.jade

block content
div.sm-col.sm-col-9.md-col-9.overflow-hidden.pl3
	h1 Dangle
	br
	img(class="block mx-auto fit" style="width: 60%; height: auto" src="/images/dangle_full.jpg")
	br
	#overview
		h2.descript OVERVIEW
		p As the first hire and designer on our team of two, I learned that design isn't limited to assets and images used within an application; there's prototyping, user testing, marketing, and developing a sign up page. As the only other person on the team (aside from the founder), I took the owness upon myself for the second iteration of Dangle, along with having mockups, wireframes, and assets ready to be handed to a iOS Developer on contract.
		br
	#goal
		h2.descript GOAL
		p Develop the initial designs and create a seamless parent-side experience.
		br
	#content
		h2.descript SIGN UP CAMPAIGN
		hr
		br
		img(src="/images/dangle_signup.png" class="block mx-auto fit")
		p Before I came on to the team, Dangle had outsourced its development work in creating a landing page to get some initial traction, which was poorly designed. The engagement, CTA's, and the value that Dangle was supposed to bring to its users was difficult to understand. Laramie, the founder, and I tore down the existing site and I developed the current one that we used to accumulate over 1000 email sign ups.
		br
		h2.descript WIREFRAMING V2
		hr
		br
		p Version 1.0's user interface was a bit scattered with too many variables, which would confuse any parent who wants to use Dangle. Initally, the parent would award their child points for completing certain tasks and those points would be use to get carrots, which in turn would allow the child to earm some sort of present. The onboarding just to explain how points accumulate to carrots which later accumulate to a present would've been extremely cumbersome, and instead I developed a flow in which points accumulate to a single carrot. That carrot would allow the child to earn what they would like.
		h3 Task Flow - Before
		img(src="/images/dangle_taskbefore.png" style="width: 50%; height: auto" class="block mx-auto fit")
		h3 Task Flow - Explore
		img(src="/images/dangle_taskexplore.jpg" class="block mx-auto fit")
		h3 Task Flow - After
		img(src="/images/dangle_taskafter.png" class="block mx-auto fit")
		h3 Potential Full Wireframe
		img(src="/images/dangle_wireframe.jpg" class="block mx-auto fit")
		br
		h2.descript PROTOTYPING
		hr
		br
		img(src="/images/dangle_pt.png" class="block mx-auto fit")
		p With the wireframes and survey data in check, I was able to 
			a(href="http://share.framerjs.com/ixkfu9699y3c/") create a prototype in Framer 
			| of the application for the parents side. The prototype would contain the core of the application (viewing tasks, adding tasks, viewing carrots, and image verification). This flow would also be used to show our iOS Developer what we were invisioning.
		br
		h2.descript TAKEAWAYS
		hr
		br
		p Working with a startup as the second hire can be extremely difficult, but rewarding as well. Being the only designer on the team, I was able to make key decisions to the core of the application, along with testing these assumptions on early users. I also learned how to use various prototyping tools such as Framer and Invision, along with handing off all-things design related to an experienced developer. If you would like to know more about my work at Dangle, 
			a(href="mailto: sk938@cornell.edu") shoot me a message 
			| since some of work is still under NDA!
