doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(href='https://unpkg.com/basscss@8.0.1/css/basscss.min.css', rel='stylesheet') 
		script(src="https://use.fontawesome.com/112eebf11d.js")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		script(src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous")

	body
		block header
		block content

