include layout.jade
include portflayout.jade



block content
div.sm-col.sm-col-9.md-col-9.overflow-hidden.pl3
	h1 Uber
	br
	img(class="block mx-auto fit" src="/images/uber.png")
	br
	#overview
		h2.descript OVERVIEW
		p After being stuck behind a guard rail on my first international Uber, I decided to learn more about my driver’s experience with the Uber application — both highs and lows. Here are my findings (and potential solutions) to make Uber an even better international experience.
		br
	#goal
		h2.descript GOAL
		p Discover new ways to make the international Uber driver-rider experience seamless and simple
		br
	#discover
		h2.descript DISCOVER
		hr
		br
		h2.descript Kuala Lumpur
		img(src="/images/uber_kl.png" class="block mx-auto fit")
		br
		ul
			li 15 of the 24 drivers work in IT, the rest work in finance or banking
			li All discovered Uber via a friend
			li Majority of passengers are foreigners
			li All work part-time
		p Let's learn more about Sasindran. 
		p Like many drivers in Kuala Lumpur (KL), Sasindran learned about Uber from his friend, who had suddenly bought a new house.
		p 
			b “I said where did you get money from for second house? And he showed me Uber company statement so I joined!”
		p Sasindran leased a vehicle from Uber for the first four months, but he then reinvested his earnings and bought a brand new car — along with a second house in just under 6 months.
		p 
			b “I earn 2000 to 3000 ringget from bank job but Uber give me extra 6000 to 8000 ringget. So now I rent out first house and stay with family in second house!”
		p Uber is empowering drivers in KL by letting them be “own boss of company” — as Sasindran puts it. These drivers are truly appreciative of Uber, but certainly have recommendations to further improve the ride-sharing experience.
		br
		h3 Key Issues
		p
			b “I try calling you but then I saw +1 area code and was afraid that you would get charged or something.”
		p This what Julian, our first Uber driver, told my family when he tried to pick us up from our hotel. All of our Uber drivers tried to call me upon arriving to my pin — which didn’t help the drivers in any way due to my foreign number.
		p
			b “Uber only gives me a radius of where you are. Then I have to drive around and figure out where you are.”
		p Here's where that can become a real problem.
		p Since Julian couldn’t call me, and because Waze doesn’t tell drivers which side of the street I’m on, Julian was left to win a guessing game.
		p In San Francisco, Dallas, New York, or any other Western city, this may not seem like a big deal. Just make a U-turn, and you’re good to go. Not in KL. With three-way one-ways, one wrong turn could send the driver in a one-way frenzy — easily creating an additional ten minute wait.
		img(src="/images/uber_klcrazy.jpeg" class="block mx-auto")
		p Even when Julian came on the wrong side of the street, we were able to cross over a bridge to meet him on the other side. But here’s the guard rail we were met with:
		img(src="/images/uber_rail.png" class="block mx-auto")
		p We yelled over the passing traffic to meet on the original side of the street and Julian eventually made his way around to the hotel’s street, which was much more accessible.
		p Other drivers expressed a similar sentiment about the difficulty in finding and contacting riders — especially those who are foreign.

		h2.descript Singapore
		img(src="/images/uber_sing.png" class="block mx-auto fit")
		br
		ul
			li Whereas the drivers in Kuala Lumpur worked in IT or Finance, the drivers from Singapore came from the service industry (such as flight attendants or warehouse operators)
			li About 37–50 years old
			li Equal balance between full time and part time drivers
			li All work part-time
		br
		h3 Key Issue: Picking Up Riders
		p
			b Makhan: It’s a bit dangerous. If I take wrong rider, Uber don’t pay me.
		p
			b Me: So people order an Uber and they’re right next to each other?
		p
			b Makhan: Yeah, same place maybe 3 or 4 people waiting and coincidentally they all order Honda. So when they see Honda they jump in. But its wrong car. It actually happen to me once and then I tell rider to cancel trip. Because if I cancel, I get zero stars.
		p I ran into this same problem multiple times. Since Uber doesn’t provide me with the color or picture of the car, I have to squint my eyes and scan the street for a Honda logo or a license plate number. With foreign cars likes Protons and Peroduas, the last thing I could resort to was matching the driver’s face inside the car with the 80x80 pixel Avatar that Uber provides.
		p 
			b Makhan: But with picking you from hotel, this no problem. Its only 1 or 2 person. But inside a shopping mall there’s 100 people all holding their phone. Sometime driver use enhancement, you know they can say ‘I’m holding umbrella’ or ‘I’m wearing red.’ But when two people wear red then I have 50–50 chance.
		p Instead of a ‘tiny notification,’ as another driver named Gary described the enhancement, Uber could instead request the rider to take a seflie or picture of their location which could help the driver pinpoint where the rider is located. That image could disappear after the driver opens it in order to maintain the rider’s privacy. 

		h2.descript Penang
		p Penang, a small island on the northeast trip of Malaysia, only has 160 Uber drivers. Drivers nonetheless face a unique set of challenges.
		img(src="/images/uber_penang.png" class="block mx-auto fit")
		br
		h3 Group Messaging
		p According to Jackie (center selfie), most of drivers in Penang communicate to each other over a massive group message in WhatsApp. Here’s what they talk about:
		ul
			li
				p Police Zones
			li 
				p Hotspots (Uber’s way of letting drivers know where most people are requesting rides)
			li
				p Crowded Roads. For example, the drivers let each other know about the Peak Times for Penang Hill (a main attraction) since many riders are tourists visiting the area.
		p Jackie said that it would be safer if Uber provided a messaging service not only between drivers-riders, but also for the community of drivers in areas with a growing Uber workforce. This way the drivers would have a secure system, along with a tool to give feedback or suggestions to Uber — as Jackie didn’t exactly know how to get in contact with Uber.
		h3 Test Drives
		p As Uber just recently arrived in Penang, many people are eager to use the service. But they want to test it out first.
		p Prakasam, an Apple Store Manager and Uber Driver, says he gets about 20 of these calls per week. He drives about 3–5 miles to pick up this ‘rider,’ and when he gets there the rider says ‘Oh, I just wanted to see if it worked or not.’ Prakasam can’t give the rider a bad rating since the rider simply cancels the drive after seeing how the service works. And the rider doesn’t get billed as long as he cancels within 6 minutes. Even if the same rider test calls over and over again, Prakasam doesn’t want to cancel the trip or else his own rating drops.
		p For growing areas, Uber often has promotions where a first-time rider receives credit just for signing up. In order to stop the test calls, that credit could be applied to the test drive so that the driver is still compensated for his or her time.
		h3 Advance Booking
		p Penang is only a one hour flight away from Kuala Lumpur, the capital of Malaysia. This close proximity allows people in Kuala Lumpur to order Ubers that are in Penang.
		p Parakasam said that one he received a request from Penang’s Airport and ended up waiting ninety minutes for the rider to show up. He later found out that the rider was flying into Penang from Kuala Lumpur and wanted to pre-book a driver before he landed. This puts Parakasam in a bind.
		p If he cancels the trip, his rating drops. So he has to wait and take a chance with all of the other calls he gets from the airport in the future.
		p This could be an issue with Uber’s mapping service. Regardless, there should be a continuous feedback loop to avoid 0 star ratings along with test calls.
		br
	#define
		h2.descript DEFINE
		hr
		br
		h3 Singapore
		img(src="/images/uber_personasing.png" class="block mx-auto fit")
		h3 Penang
		img(src="/images/uber_personapeng.png" class="block mx-auto fit")
		h3 Kuala Lumpur
		img(src="/images/uber_personakl.png" class="block mx-auto fit")
	#design
		h2.descript DESIGN
		hr
		br
		h3 Explorations
		img(src="/images/uber_flow.jpg" style="width: 60%; height: auto" class="block mx-auto fit")
		a(href="http://share.framerjs.com/m7qi7hrnizzo/" target="blank")
			h3 Potential Chat UI
		img(src="/images/uber_chatui.png" class="block mx-auto fit")
		img(src="/images/uber_chatui2.png" style="width: 50%" class="block mx-auto fit")

		